/* The navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
    }
    
    .nav-links a {
    color: #fff;
    }
    
    /* LOGO */
    .logo {
    font-size: 24px;
    font-weight: 600;
    }
    
    /* NAVBAR MENU */
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }
    
    .menu li:hover {
    background-color: #333;
    border-radius: 5px;
    transition: 0.3s ease;
    }
    
    .menu li {
    padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    .services {
    position: relative; 
    }
    
    .dropdown {
    background-color: #333;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    }
    
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
    .dropdown li:hover {
    background-color: #4c9e9e;
    }
    
    .services:hover .dropdown {
    display: block;
    }
  
  
  
  
  /* The carousel */
  body {
    margin: 0;
    background: lightgray;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
  .carousel-container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("../images/cPics/pexels-castorly-stock-4058364.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("../images/cPics/pexels-karolina-grabowska-4047055.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("../images/cPics/pexels-mart-production-7089401.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("../images/cPics/pexels-pixabay-356040.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("../images/cPics/zz.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("../images/cPics/pexels-rfstudio-3825529.jpg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("../images/cPics/zz2.jpg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("../images/cPics/zz3.jpg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("../images/cPics/pexels-pixabay-139398.jpg");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
  
  
  /* The main content */
  .container {
    max-width: 800px;
    margin: 0 auto;
    /*padding-top: 500px;*/
    padding-bottom: 10px;
  }
  
  .text-wrap{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .col {
    flex-basis: 100%;
  }
  
  .photo-left {
    width: 40%;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  .photo-right {
    width: 40%;
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  
  .text-left {
    width: 50%;
    float: left;
    position: relative;
    top: 100px;
  }
  
  .text-right {
    width: 50%;
    float: right;
    position: relative;
    top: 100px;
  }
  
  h2, p {
    margin-top: 0;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-col {
    flex-basis: 30%;
  }
  
  h3 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 500px;
    padding-bottom: 10px;
  }

  .body{
    background-image: url("../images/cPics/pexels-pixabay-139398.jpg");
    margin: 0%;
  }
  