<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>

    <!--Login using username and password. Remember that the POST is being taken to a login.php-->
    <div>
        <form action="login">
            <label for="username"> Username :</label>
            <input type="text" name="username" placeholder="Username">
            <label for="password"> Password :</label>
            <input type="password" name="password" placeholder="Password">
        </form>
    </div>
</body>
</html>